# emacs
*~

# Python
*.py[oc]
py/ve/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# thrift generated
py/src/streamcorpus_filters/constants.py
py/src/streamcorpus_filters/ttypes.py

# C++
cpp/u-multisearch_naive
cpp/build
cpp/filter
cpp/ac-filter
cpp/multifast-filter
cpp/naive-filter
cpp/config.mk
cpp/filternames_constants.cpp
cpp/filternames_constants.h
cpp/filternames_types.cpp
cpp/filternames_types.h
cpp/u-multifast
cpp/u-naive
*.gch
cpp/data

