# emacs
*~

# Python
*.py[oc]

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# thrift generated
py/src/streamcorpus_filters/constants.py
py/src/streamcorpus_filters/ttypes.py

# misc files
py/ve/
